<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#test').bind('click', function() {
        $.getJSON('/background_process_test', {
          stkval: $('input[name="stk"]').val()
        }
            function(data) {
          //do nothing
        });
        return false;
      });
    });
</script>

<h1>Welcome James Bond!</h1>
<div class='container'>
    <form>
        <p>Name the stock stats that you would like to see?
        <input type="text" name="stk">
        <a href=# id=test><button class='btn btn-default'>Go!</button></a>
    </form>
</div>
